/* ОБНУЛЕНИЕ */

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
   Упрощаем работу с изображениями
  */
img {
    display: block;
    max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    font: inherit;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    display: block;
}

div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

svg,
svg path,
svg rect,
svg circle,
svg line {
    transition: .3s;
}

.icon {
    display: flex;
}


/* Fonts */

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: local('Helvetica'),
        url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff'),
        url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Oblique.eot');
    src: local('Helvetica Oblique'), local('Helvetica-Oblique'),
        url('../fonts/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Oblique.woff2') format('woff2'),
        url('../fonts/Helvetica-Oblique.woff') format('woff'),
        url('../fonts/Helvetica-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-BoldOblique.eot');
    src: local('Helvetica Bold Oblique'), local('Helvetica-BoldOblique'),
        url('../fonts/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-BoldOblique.woff2') format('woff2'),
        url('../fonts/Helvetica-BoldOblique.woff') format('woff'),
        url('../fonts/Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Light.eot');
    src: local('Helvetica Light'), local('Helvetica-Light'),
        url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Light.woff2') format('woff2'),
        url('../fonts/Helvetica-Light.woff') format('woff'),
        url('../fonts/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.eot');
    src: local('Helvetica Bold'), local('Helvetica-Bold'),
        url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica-Bold.woff') format('woff'),
        url('../fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-LightOblique.eot');
    src: local('Helvetica Light Oblique'), local('Helvetica-LightOblique'),
        url('../fonts/Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-LightOblique.woff2') format('woff2'),
        url('../fonts/Helvetica-LightOblique.woff') format('woff'),
        url('../fonts/Helvetica-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}





html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: #000;
    font-family: "Helvetica", sans-serif;
    background-color: azure;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.content_body {
    max-width: 700px;
    width: 100%;
    margin: 50px auto;
}

.content_body h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    margin: 20px 0;
}

.content_body h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    margin: 35px 0 10px 0;
    text-transform: uppercase;
}

.content_body p {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: #010101;
    margin: 20px 0;
}

.content_body p a {
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    text-align: center;
    color: orangered;
    transition: .3s;
    font-weight: 600;
    text-decoration: underline;
}

.content_body p a:hover {
    opacity: .6;
}

.block_info p {
    margin: 5px 0;
}

.project {
    margin-bottom: 20px;
}

.project:last-of-type {
    margin-bottom: 0px;
}

.social {
    margin-bottom: 10px;
}